body { background-color:#060606; font-family: sans-serif; margin:40px; color:#fff; min-width:1200px; }
ul { padding:0; margin:0; list-style:none; }
li { padding:0; margin:0; }
a { color:#68c4f9; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }

header h1 { text-indent: -9999px; background:transparent url(../images/logo.png) no-repeat 0 0; width:240px; height:122px; }

header .links { position:absolute; left:850px; top:20px; text-decoration: underline; }
header .links li { float:left; margin:0 10px; }
header .links li a { color:#fff; }

.sidebar { width:240px; float:left; }
.content {  float:left; }

.toc li { margin:4px 6px; }

.slideshow { width:960px; }
.slideshow li { display:none; }
.slideshow li.active { display:block; overflow:hidden; max-height:537px; max-width: 958px; }

.paging { width:940px; margin:0 auto; padding:10px; height:40px; }
.paging a.prev { float:left; }
.paging a.next { float:right; }